{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $profile := promptChoiceOnce . "profile" "Profile" (list "personal" "work") "personal" -}}

{{- $osrelease := index .chezmoi.kernel "osrelease" | default "" -}}
{{- $hasWSLString := hasSuffix "WSL2" $osrelease -}}

[data]
  profile = {{ $profile | quote }}
  isPersonal = {{ eq $profile "personal" }}
  isWork = {{ eq $profile "work" }}
  isWSL2 = {{ and $isLinux $hasWSLString }}
