{{- $isWork := index . "isWork" | default false -}}
{{- $gitName := index . "gitName" | default "su8ru" -}}
{{- $gitEmail := index . "gitEmail" | default "" -}}
{{- if and $isWork (not $gitEmail) -}}
{{-   fail "gitEmail is required for work profile; run chezmoi init to update local config" -}}
{{- end -}}
{{- if not $gitEmail -}}
{{-   $gitEmail = "main@su8ru.dev" -}}
{{- end -}}
{{- $gitSigningKey := index . "gitSigningKey" | default "" -}}
{{- if and (not $isWork) (not $gitSigningKey) -}}
{{-   $gitSigningKey = "7573ED215A8DD685" -}}
{{- end -}}
{{- $gitGpgSign := index . "gitGpgSign" | default (not $isWork) -}}
{{- if $isWork -}}
{{-   $gitSigningKey = "" -}}
{{-   $gitGpgSign = false -}}
{{- end -}}
[user]
  name = {{ $gitName }}
  email = {{ $gitEmail }}
{{- if $gitSigningKey }}
  signingkey = {{ $gitSigningKey }}
{{- end }}

[commit]
  gpgsign = {{ $gitGpgSign }}

[core]
  autocrlf = input
  editor = 'vim'
  quotepath = false
  pager = delta

[delta]
  theme = Monokai Extended
  line-numbers = true
  side-by-side = true
  minus-style = red bold ul
  plus-style = green bold ul

[interactive]
  diffFilter = delta --color-only

[add.interactive]
  useBuiltin = false

[merge]
  ff = false

[rebase]
  autosquash = true

[push]
  default = current
	autoSetupRemote = true

[pull]
  ff = only

[gpg]
  program = gpg

[init]
  defaultBranch = main

[alias]
  # 2 chars
  st = status
  co = checkout
  df = diff
  cm = commit
  pu = push
  pl = pull
  sw = switch
  # utils
  unstage = reset HEAD
  current-branch-name = ! git branch | grep -e '^\\* ' | sed -e 's/^\\* //g'
  force-pull = ! git fetch && git reset --hard origin/$(git current-branch-name)
  # log
  last = log -1 HEAD
  l  = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an (%G?)%Creset%x09%s %C(red)%d%Creset\"
  ll = !git --no-pager log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an (%G?)%Creset%x09%s %C(red)%d%Creset\" -n 10

[credential "https://github.com"]
  helper = 
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !gh auth git-credential
